header {
  background-color: #333;
}

header ul {
  list-style-type: none;
  padding: 0;
}

header a {
  text-decoration: none;
  text-align: center;
  color: #fff;

  display: block;
  padding: 10px;
}

header a:hover {
  background-color: #555;
}

/* Desktops/tablets */
@media screen and (min-width: 768px) {
  header ul {
    display: flex;
  }

  header li {
    flex: 1 1 0;
  }
}
