body {
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  .grid {
    display: block;
  }
}
